.baseSection {
    width: 1600px;
    padding: 20px;
    margin: 0 auto;
}

.superSection {
    composes: baseSection;
    background-color: blueviolet;
}

.title{
    font-size: 20px;
    color: red;
}